*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    width: 100%;
    height: 100vh;
    background: #0b1e38 url(bg.jpg) no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Hahmlet', sans-serif;
    color: #0b1e38;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px dashed #2f3774;
}

.panel{
    margin: 0 auto;
    border: 1px solid #4888c8;
    height: 80%;
    background-color:  #7fc5dca6;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color:#0b1e38;
    font-size: 25px;
    margin-left: 10px;
}
@media screen and (min-width:1200px){
    #container{
        padding: 5% 20%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #left{
        flex-basis: 200px;
        
    }
    #center{
        flex-basis:340px;
    }
    
    #right{
        flex-basis: 260px;
    }
}
@media (max-width:1199px) and (min-width:575px){
    a{
        text-decoration: none;
        color:#0b1e38;
        font-size: 25px;
        margin-left: 10px;
    }
    #container{
        padding: 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #left,#center,#right{
        flex-basis: 90%;
    }
    
}
